
//Primary colors

$pure-white:#ffffff;
$color-text:#7A7A7A;
$moderate-cyan:hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);

//Neutral Colors
$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);

// Font Weights
$fw400:400;
$fw500:500;
$fw700: 700;

$line-height:24px;

